<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.project.ssm.mapper.MemberMapper">

  <update id="updateStatusByIdMember">
      update member set status = #{status} where id = #{id}
  </update>

  <insert id="insertNewMembers">
    insert into member(`account`,`password`,`name`,`phone`)
    values
    (#{account},#{password},#{name},#{phone})
  </insert>




</mapper>