<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.project.ssm.mapper.OrderVOMapper">
    <select id="selectAll" resultType="com.cy.project.ssm.viewobject.OrderVO">
        SELECT
            o.`id` orderId,
            m.`name` memberName,
            ma.`consignee_name` consigneeName,
            o.`total_price` totalPrice,
            o.`post_price` postPrice,
            o.payment payment,
            o.`status` orderStatus,
            pm.`name` paymentWay,
            o.`creat_time` createTime
        FROM
            `order` o
            JOIN ( member m, member_address ma, payment_method pm) ON o.member_id = m.id
            AND o.member_address_id = ma.id
            AND o.payment_way_id = pm.id
    </select>
    <select id="selectOrderById" parameterType="Integer" resultType="com.cy.project.ssm.viewobject.OrderVO">
        SELECT
            o.`id` orderId,
            m.`name` memberName,
            ma.`consignee_name` consigneeName,
            o.`total_price` totalPrice,
            o.`post_price` postPrice,
            o.payment payment,
            o.`status` orderStatus,
            pm.`name` paymentWay,
            o.`creat_time` createTime,
            m.account account,
            m.phone phone,
            o.`pay_time` paymentTime,
            ma.phone consigneePhone,
            ma.specific_address consigneeAddress
        FROM
            `order` o
            JOIN ( member m, member_address ma, payment_method pm) ON o.member_id = m.id
            AND o.member_address_id = ma.id
            AND o.payment_way_id = pm.id
        where o.`id` = #{id}
    </select>
    <select id="selectOrderCById" parameterType="Integer" resultType="com.cy.project.ssm.viewobject.OrderVOC">
        SELECT
            o.`id` orderId,
            s.`name` skuName,
            oi.`sku_id` skuId,
            s.`description` skuDescription,
            oi.`nums` num,
            s.`price` price,
            (oi.`nums`*s.`price`) sum
        FROM
            `order` o
            JOIN ( member m, member_address ma, payment_method pm, order_item oi, sku s ) ON o.member_id = m.id
            AND o.member_address_id = ma.id
            AND o.payment_way_id = pm.id
            AND o.id = oi.order_id
            AND s.id = oi.sku_id
        where o.`id` = #{id}
    </select>
    <update id="changeOrderStatus" >
        update `order` set `status` = #{arg1} where `id` = #{arg0}
    </update>
</mapper>