<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.project.ssm.mapper.SkuModelMapper">
  <resultMap id="BaseResultMap" type="com.cy.project.ssm.domain.SkuModel">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="catalog3_id" jdbcType="INTEGER" property="catalog3Id" />
  </resultMap>
  <select id="selectlast" resultType="Integer">
    select MAX(`id`) from `sku_model`
  </select>
  <select id="getAttri" parameterType="String" resultType="String">
    SELECT `name` FROM	sku_attri_group g INNER JOIN ( sku_attri a, sku_attri_value v ) ON ( g.attri_id = a.id and g.attri_value_id = v.id ) WHERE g.model_id = #{model_id} GROUP BY `name`
  </select>
    <select id="getValue" parameterType="String" resultType="String">
      SELECT `value` FROM	sku_attri_group g	INNER JOIN ( sku_attri a, sku_attri_value v ) ON ( g.attri_id = a.id and g.attri_value_id = v.id ) WHERE g.model_id = #{arg0} AND `name` =#{arg1}
    </select>
</mapper>